body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 20px;
}

.card-pricipal {
    background-color: #1e1e1e;
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
    padding: 25px;
    border: 2px solid #333333;
    border-radius: #333333;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #d9381e;
    text-align: center;
    margin-bottom: 5px;
}

.subtitulo {
    text-align: center;
    color: #a0a0a0;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: #d9381e;
    border-bottom: 1px solid #333333;
    padding-bottom: 5px;
    margin-top: 25px;
    text-align: center;
}

.poster {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid #333333;
}

.secao img, .imagen-secundaria {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid #333333;
}

.secao p{
    text-align: center;
    line-height: 1.6;
}

ul {
    list-style-position: inside;
    padding-left: 30px;
    line-height: 1.6;
}

.secao-botao {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.botao-trailer {
    background-color: #d9381e;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 24px;
    border: 1px solid #b22222;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
}

.botao-trailer:hover {
    background-color: #b22222;
}